# Секреты
.env
tokens.txt

# База данных
*.db
*.sqlite

# Виртуальное окружение
.venv/
venv/
env/

# Python кэш
__pycache__/
*.pyc
*.pyo

# Лишние файлы проекта
old/bot_backup.py
old/check_free_models.py
old/open_router.py
old/start.bat
old

# IDE
.idea/
.vscode/